$form_label_width: 60px;

body {
	padding: 40px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	.App {
		font-size: 1.6rem;
		h1 {
			font-size: 2.5rem;
			color: #777;
			font-weight: bold;
			margin: 0 0 20px 0;
		}
		h2 {
			font-size: 2rem;
			color: #888;
			font-weight: bold;
			margin: 10px 0;
			background-color: #eee;
			padding: 5px;
		}
		h1:not(:first-of-type) {
			margin-top: 20px;
		}
		ul {
			list-style-type: disc;
			margin: 0 0 0 30px;
		}
		.content {
			display: flex;
		}
		.control_showPassenger {
			background: #eee;
			max-width: 500px;
			padding: 20px;
			margin: 0 10px 10px 0;
			border-radius: 5px;
			.header {
				display: grid;
				grid-template-columns: 455px 1fr 1fr;
				grid-template-rows: 1fr;
				gap: 0px 0px;
				grid-template-areas: ". . .";
				.icon {
					font-size: 1.1rem;
					color: #555;
					cursor: pointer;
					margin-right: 10px;
				}
				.iconDisabled {
					font-size: 1.1rem;
					color: #bbb;
					margin-right: 10px;
				}
				.icon:hover {
					color: #222;
				}
			}
			h2 {
				padding: 0;
				margin: 0 0 10px 0;
				font-variant: small-caps;
				color: #888;
				font-size: 1.5rem;
			}
			.control_text {
				display: flex;
				margin: 0 0 5px 0;
				label {
					margin: 0 5px 0 0;
					font-size: 1.4rem;
					color: #555;
					width: $form_label_width;
					&:after {
						content: ":";
					}
				}
				input {
					font-size: 1rem;
				}
			}
			.control_airport {
				display: flex;
				margin: 0 0 5px 0;
				label {
					margin: 0 5px 0 0;
					font-size: 1.4rem;
					color: #555;
					width: $form_label_width;
					&:after {
						content: ":";
					}
				}
				select {
					font-size: 1rem;
				}
			}
		}
		pre {
			font-size: 1rem;
			color: brown;
		}
	}
}
